.ui.input {

	display: block;

	input, textarea, select {
		border: 0;
		border-bottom: 1px solid rgba(34,36,38,.25);
		border-radius: 0;
		padding: .3em 0 .6em 0;
		width: 100%;
		font-size: 13px;
		color: lighten($gray, 10%);
	}

	input:focus, textarea:focus, select:focus {
		border-color: darken($brown, 10%);
		color: rgba(0,0,0,.9);
		outline: 0;
	}
}

label {
	font-weight: 600;
}